.loading-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--global-hidden-loading-z-index);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;

    &--display {
        opacity: 1;
        visibility: visible;
        z-index: var(--global-loading-z-index);
        background-color: var(--global-loading-background);
    }
}
