:root {
    --cyan-1: #e6fffb;
    --cyan-1-rgb: 230, 255, 251;

    --cyan-2: #b5f5ec;
    --cyan-2-rgb: 181, 245, 236;

    --cyan-3: #87e8de;
    --cyan-3-rgb: 135, 232, 222;

    --cyan-4: #5cdbd3;
    --cyan-4-rgb: 92, 219, 211;

    --cyan-5: #36cfc9;
    --cyan-5-rgb: 54, 207, 201;

    --cyan-6: #13c2c2;
    --cyan-6-rgb: 19, 194, 194;

    --cyan-7: #08979c;
    --cyan-7-rgb: 8, 151, 156;

    --cyan-8: #006d75;
    --cyan-8-rgb: 0, 109, 117;

    --cyan-9: #00474f;
    --cyan-9-rgb: 0, 71, 79;

    --cyan-10: #002329;
    --cyan-10-rgb: 0, 35, 41;
}
