:root {
  --gold-1: #fffbe6;
  --gold-1-rgb: 255, 251, 230;

  --gold-2: #fff1b8;
  --gold-2-rgb: 255, 241, 184;

  --gold-3: #ffe58f;
  --gold-3-rgb: 255, 229, 143;

  --gold-4: #ffd666;
  --gold-4-rgb: 255, 214, 102;

  --gold-5: #ffc53d;
  --gold-5-rgb: 255, 197, 61;

  --gold-6: #faad14;
  --gold-6-rgb: 250, 173, 20;

  --gold-7: #d48806;
  --gold-7-rgb: 212, 136, 6;

  --gold-8: #ad6800;
  --gold-8-rgb: 173, 104, 0;

  --gold-9: #874d00;
  --gold-9-rgb: 135, 77, 0;

  --gold-10: #613400;
  --gold-10-rgb: 97, 52, 0;
}
