:root {
  --green-1: #f6ffed;
  --green-1-rgb: 246, 255, 237;

  --green-2: #d9f7be;
  --green-2-rgb: 217, 247, 190;

  --green-3: #b7eb8f;
  --green-3-rgb: 183, 235, 143;

  --green-4: #95de64;
  --green-4-rgb: 149, 222, 100;

  --green-5: #73d13d;
  --green-5-rgb: 115, 209, 61;

  --green-6: #52c41a;
  --green-6-rgb: 82, 196, 26;

  --green-7: #389e0d;
  --green-7-rgb: 56, 158, 13;

  --green-8: #237804;
  --green-8-rgb: 35, 120, 4;

  --green-9: #135200;
  --green-9-rgb: 19, 82, 0;

  --green-10: #092b00;
  --green-10-rgb: 9, 43, 0;
}
