:root {
    --geekblue-1: #f0f5ff;
    --geekblue-1-rgb: 240, 245, 255;

    --geekblue-2: #d6e4ff;
    --geekblue-2-rgb: 214, 228, 255;

    --geekblue-3: #adc6ff;
    --geekblue-3-rgb: 173, 198, 255;

    --geekblue-4: #85a5ff;
    --geekblue-4-rgb: 133, 165, 255;

    --geekblue-5: #597ef7;
    --geekblue-5-rgb: 89, 126, 247;

    --geekblue-6: #2f54eb;
    --geekblue-6-rgb: 47, 84, 235;

    --geekblue-7: #1d39c4;
    --geekblue-7-rgb: 29, 57, 196;

    --geekblue-8: #10239e;
    --geekblue-8-rgb: 16, 35, 158;

    --geekblue-9: #061178;
    --geekblue-9-rgb: 6, 17, 120;

    --geekblue-10: #030852;
    --geekblue-10-rgb: 3, 8, 82;
}
