:root {
    --lime-1: #fcffe6;
    --lime-1-rgb: 252, 255, 230;

    --lime-2: #f4ffb8;
    --lime-2-rgb: 244, 255, 184;

    --lime-3: #eaff8f;
    --lime-3-rgb: 234, 255, 143;

    --lime-4: #d3f261;
    --lime-4-rgb: 211, 242, 97;

    --lime-5: #bae637;
    --lime-5-rgb: 186, 230, 55;

    --lime-6: #a0d911;
    --lime-6-rgb: 160, 217, 17;

    --lime-7: #7cb305;
    --lime-7-rgb: 124, 179, 5;

    --lime-8: #5b8c00;
    --lime-8-rgb: 91, 140, 0;

    --lime-9: #3f6600;
    --lime-9-rgb: 63, 102, 0;

    --lime-10: #254000;
    --lime-10-rgb: 37, 64, 0;
}
