:root {
    --magenta-1: #fff0f6;
    --magenta-1-rgb: 255, 240, 246;

    --magenta-2: #ffd6e7;
    --magenta-2-rgb: 255, 214, 231;

    --magenta-3: #ffadd2;
    --magenta-3-rgb: 255, 173, 210;

    --magenta-4: #ff85c0;
    --magenta-4-rgb: 255, 133, 192;

    --magenta-5: #f759ab;
    --magenta-5-rgb: 247, 89, 171;

    --magenta-6: #eb2f96;
    --magenta-6-rgb: 235, 47, 150;

    --magenta-7: #c41d7f;
    --magenta-7-rgb: 196, 29, 127;

    --magenta-8: #9e1068;
    --magenta-8-rgb: 158, 16, 104;

    --magenta-9: #780650;
    --magenta-9-rgb: 120, 6, 80;

    --magenta-10: #520339;
    --magenta-10-rgb: 82, 3, 57;
}
