:root {
    --gray-1: #ffffff;
    --gray-1-rgb: 255, 255, 255;

    --gray-2: #fafafa;
    --gray-2-rgb: 250, 250, 250;

    --gray-3: #f5f5f5;
    --gray-3-rgb: 245, 245, 245;

    --gray-4: #f0f0f0;
    --gray-4-rgb: 240, 240, 240;

    --gray-5: #d9d9d9;
    --gray-5-rgb: 217, 217, 217;

    --gray-6: #bfbfbf;
    --gray-6-rgb: 191, 191, 191;

    --gray-7: #8c8c8c;
    --gray-7-rgb: 140, 140, 140;

    --gray-8: #595959;
    --gray-8-rgb: 89, 89, 89;

    --gray-9: #434343;
    --gray-9-rgb: 67, 67, 67;

    --gray-10: #262626;
    --gray-10-rgb: 38, 38, 38;

    --gray-11: #1f1f1f;
    --gray-11-rgb: 31, 31, 31;

    --gray-12: #141414;
    --gray-12-rgb: 20, 20, 20;

    --gray-13: #000000;
    --gray-13-rgb: 0, 0, 0;
}
