:root {
  --orange-1: #fff7e6;
  --orange-1-rgb: 255, 247, 230;

  --orange-2: #ffe7ba;
  --orange-2-rgb: 255, 231, 186;

  --orange-3: #ffd591;
  --orange-3-rgb: 255, 213, 145;

  --orange-4: #ffc069;
  --orange-4-rgb: 255, 192, 105;

  --orange-5: #ffa940;
  --orange-5-rgb: 255, 169, 64;

  --orange-6: #fa8c16;
  --orange-6-rgb: 250, 140, 22;

  --orange-7: #d46b08;
  --orange-7-rgb: 212, 107, 8;

  --orange-8: #ad4e00;
  --orange-8-rgb: 173, 78, 0;

  --orange-9: #873800;
  --orange-9-rgb: 135, 56, 0;

  --orange-10: #612500;
  --orange-10-rgb: 97, 37, 0;
}
