:root {
    --primary-color-1: #e6f7ff;
    --primary-color-2: #bae7ff;
    --primary-color-3: #91d5ff;
    --primary-color-4: #69c0ff;
    --primary-color-5: #40a9ff;
    --primary-color-6: #1890ff;
    --primary-color-7: #096dd9;
    --primary-color-8: #0050b3;
    --primary-color-9: #003a8c;
    --primary-color-10: #002766;
}
