.logo {
    // width: 120px;
    width: auto;
    min-width: 120px;
    height: 32px;
    border-radius: 6px;
    display: flex;
    gap: 8px;
    align-items: center;

    img {
        height: 100%;
        width: auto;
        display: flex;
    }

    &__text {
        margin-bottom: 0px !important;
        color: #eeeeee !important;
    }
}
